
.r1{
			background-color: pink;
			width: 100%;
			height: 80px;
		}
		.img{
			height: 10px;
			width: 15px;
		}
		.home{
			color: blue;
			font-size: 30px;
			float: right;
			padding-right: 80px;
		}
		.r2{
			background-color: red;
			margin: auto;
			float: left;
			width: 10%;
		}
		.space{
			height: 10px;
			
		}
		.sidebar{
			margin: 10px;
			width: 40%;
			height: 30%
			
			
		}
		.box{
			
			height: 20px;
			padding-left:10px;
			margin-bottom: 10px;
			width:30%;
		}
		.photo{
			float: right;
			width: 0%;
		}

		.r3{
			margin: auto;
			float: left;
			background-color: blue;
			height: 50px;
			width: 100%;
			color: white;
			font-size: 30px;
			padding-left: 650px;

		}
		
		.a{
			background-color: orange;
			height: 3px;
		}