*{
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 40px;
	background-color:#383736;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Linkheader{
	text-decoration: none;
	color: white;
	font-family: fantasy;
	font-size: 20px;
	margin-right:20px;
	margin-left: 20px; 
}
content{
	float: left;
	width: 100%;
	height: 1000px;
	padding: 30px;
	background-color: #918a7a;
}
.contentTitle{
	float: left;
	width: 100%;
	height: 50px;
	font-family: sans-serif;
	font-size: 40px;
	text-align:center;
}
.contentfirstdpart{
	background-color: #d1d108;
	float: left;
	margin-top: 30px;
	margin-left: 50px;
	width:40%;
	height: 850px;
	border:5px solid black;
	border-radius: 20px;
}
.contentsacondpart{
	float: right;
	margin-top: 50px;
	margin-left: 50px;
	width:50%;
	height: 850px;
}
.contentsacondparttext{
	font-family: sans-serif;
	margin-top: 50px;
	font-size: 30px;
	float: left;
	width: 100%;
	text-align: center;
}
.contentsacondpartbuttondiv{
	float:left;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.contentsacondpartbutton{
	color: white;
	font-size: 25px;
	background-color: orange;
	border-radius: 10px;
	font-family: sans-serif;
	float: left;
	width: 40%;
	text-align: center;
}
.firstpart{
	height: 200px;
	float: left;
	width: 100%;
	background-color: #918a7a;
}
.firstpartoreilly{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: black;
	width: 16%;
	height: 30px;
	font-size: 20px;
	margin-left: 50px;
}
.firstparttext{
	float: right;
	text-align: right;
	margin-right: 50px;
	font-size: 17px;
}
.firstparttextname{
	float: right;
	margin-top: 20px;
	margin-right: 50px;
	font-size: 40px;
}
.sacondtpart{
	height: 200px;
	float: left;
	width: 100%;
	background-color: #f2f2e9;
}
.sacondparttitle{
	margin-right: 50px;
	float: right;
	font-size: 90px;
	font-family: sans-serif;
}
.thirdpart{
	float: left;
	width: 100%;
	background-color: #d1d108;
}
.thirdpartjs{
	float: right;
	margin-right: 50px;
	font-size: 380px;
	font-family: sans-serif;
}
footer{
	width: 100%;
	height: 200px;
	float: left;
	background-color: black;
	text-align: center;
}
.footertext{
	margin-top: 50px; 
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
}
.footerbutton{
	margin-top: 30px;
	height: 30px;
	background-color: orange;
	border-radius: 10px;
	font-size: 30px;

}